@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans antialiased;
  }
}

@layer components {
  .text-title {
    @apply text-5xl font-serif font-bold italic leading-tight;
  }

  .text-heading {
    @apply text-xl font-semibold leading-relaxed;
  }

  .text-body {
    @apply text-lg font-medium leading-relaxed;
  }

  .text-label {
    @apply text-base font-normal leading-relaxed;
  }
}
